@page "/"
@inject HttpClient Http

<h1>Off.Black</h1>


<div class="text-center">
    @if (categoryDTO != null)
    {
        @foreach (var item in categoryDTO)
        {
            <h3>@item.Name</h3>
            <div class="row">
                <div class="col-6">
                    <h5>Man</h5>
                    <a asp-page="/Men/@item.Name" asp-route-CategoryId="@item.CategoryID"><img src="@item.CategoryImage1" alt="CategoryImage" height="400" class="hover-shadow" /></a>
                </div>
                <div class="col-6">
                    <h5>Woman</h5>
                    <a asp-page="/Woman/@item.Name" asp-route-CategoryId="@item.CategoryID"><img src="@item.CategoryImage2" alt="CategoryImage" height="400" class="hover-shadow" /></a>
                </div>
            </div>
            <br />
        }
    }
</div>



@code{
    //.\Off-Black.API.exe --urls "http://*:4020"    Start API on Port 4020 localhost
    public List<CategoryDTO> categoryDTO { get; set; } 
    protected override async Task OnInitializedAsync()
    {
        categoryDTO = await Http.GetFromJsonAsync<List<CategoryDTO>>("http://localhost:4020/Category/All");
    }
}