@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // indsæt en liste af Men og Woman kategorierne, samt eventuellt fremhavede produkter
}

<div class="text-center col-12">
    <h1> Welcome To: </h1>
    <img src="~/Off-Black-logos/Off-black-logo.png" alt="Off-black Logo" height="400" />
</div>

<br />
<br />

<div class="text-center">
    @foreach (var item in Model.categoryDTO)
    {
        <h3>@item.Name</h3>
        <div class="row">
            <div class="col-6">
                <h5>Man</h5>
                <a asp-page="/Men/@item.Name" asp-route-CategoryId="@item.CategoryID"><img src="@item.CategoryImage1" alt="CategoryImage" height="400" /></a>
            </div>
            <div class="col-6">
                <h5>Woman</h5>
                <a asp-page="/Woman/@item.Name" asp-route-CategoryId="@item.CategoryID"><img src="@item.CategoryImage2" alt="CategoryImage" height="400" /></a>
            </div>
        </div>
        <br />

    }
</div>
