@page 
@model Off_Black.Wep.Pages.MenModel


<form method="post">
    <div class="input-group text-right">
        <select asp-for="@Model.PageSize" asp-items="Html.GetEnumSelectList<Off_Black.Wep.Pages.MenModel.PageSizeEnum>()">
            <option value="">Pagesize</option>
        </select>
        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
    </div>
</form>



    <br />
    <div class="row">
        <partial name="_ProductView" model="@Model.ProductDTOs" />

    </div>
    <div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-page="" 
                       asp-route-currentpage="@i" 
                       asp-route-pagesize="@Model.PageSize" 
                       class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
